* {
  box-sizing: border-box;
}
body {
  background-color: #ffd3d3;
}

header {
  text-align: center;
  color: #929292;
}
nav {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  font-size: 120%;
  padding: 0;
  background-color: #b0e9e9;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
}
nav a {
  text-decoration: none;
  transition: all 3s ease-out;
}
nav a:link {
  color: #a5afa4;
}
nav a:visited {
  color: #a5afa4;
}
nav a:hover {
  color: #a52a2a;
}

nav li {
  border-bottom: 1px solid #000033;
}
p {
  color: #a5afa4;
}

footer {
  color: wheat;
}
.center-container {
}
.school-img {
}
.school-text {
}
.title {
  text-align: center;
}
.proj-into {
}
.project {
}
