* {
  box-sizing: border-box;
}
body {
  background-color: #ffd3d3;
}

header {
  text-align: center;
  color: #929292;
}
nav {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  font-size: 120%;
  padding: 0;
  background-color: #b0e9e9;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
}
nav a {
  text-decoration: none;
  transition: all 3s ease-out;
}
nav a:link {
  color: #a5afa4;
}
nav a:visited {
  color: #a5afa4;
}
nav a:hover {
  color: #a52a2a;
}

nav li {
  border-bottom: 1px solid #000033;
}
p {
  color: #a5afa4;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: wheat;
}
.center {
  height: 10em;
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.school-img {
}
.school-text {
}
.title {
  text-align: center;
}
.proj-into {
}
.project {
}
.split {
  display: flex;
}
#descriptive_text {
  flex: 50%;
  border: 20px;
  padding: 40px;
  background-color: #b0e9e9;
}
#right-img {
  flex: 50%;
  padding: 10px;
  border: #b0e9e9 solid 1em;
  background-color: #b0e9e9;
  border-radius: 10%;
}
img {
  max-width: 400px;
}
.icon-cont {
  margin-top: 10px;
  margin-left: 45%;
  margin-right: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  max-width: 25px;
}
.resume {
  text-align: center;
  color: #b0e9e9;
}
.resume a {
  color: #8d8d8d;
  background-color: #dff9a9;
}
